.account_item {
   display: flex;
   align-items: center;
   gap: 12px;
   padding: 6px 16px;
   &:hover {
      background-color: rgba(22, 24, 35, 0.03);
      cursor: pointer;
   }
   img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      object-fit: cover;
   }
   .info {
      display: flex;
      flex-direction: column;

      .verify_icon {
         margin-left: 6px;
         color: rgb(42, 224, 236);
      }
   }

   .userid {
      span {
         font-size: 1.6rem;
         font-weight: bold;
         color: var(--text);
      }
   }

   .username {
      font-size: 1.4rem;
      color: var(--text-lighter-color);
   }
}
